html{
    font-family: Poppins, sans-serif;
    background-color: #FFFFE4;
}
header{
    font-size: 3rem;
    font-weight: 900;
    align-items: left;
    position: relative;
    display: flex;
    color: grey;
}
#display{
    font-size: 3rem;
    font-weight: 900;
    display: flex;
    align-items: center;
    position: relative;
    border: 1px;
    color: grey;
    top: 300px;
    left: 50%;
    

}
#controls button {
    position: relative;
    left: 50%;
    top: 310px;
    min-width: 10px;
    width: 50px;
    border: none;
    
}
